.slide {
    width: 1500px;
    height: 310px;
    
}
.right-side{
    float: right;
    margin-right:8px;
    margin-bottom:3px;
    padding-left: 100%;
}

bold{
    font-weight: bold;
}

.article h2{
    padding-top: 60px;
    padding-right: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    text-decoration: none;
    color: rgb(77, 152, 187);
}
.article h3{
    text-align: center;
    padding-bottom: 40px;
}
.article .imp{
    padding-top:20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    text-decoration: none;
    color:rgb(206, 206, 206);
    font-size:70px;
    width: 95%;
    background-color: rgb(14, 14, 14);
    padding-left: 2%;
    text-shadow: 4px 3px 1px black;
}
.article a{
    text-decoration: none;
    color: rgb(77, 152, 187);
}
.article a:hover{
    text-decoration: underline solid;
    color: rgb(141, 141, 141);
}
.article p{
    margin-bottom: 5px;
}
.hyperwidth{
    width: 101%;
    height: 1px;
    display: inline-block;
}
.hyperheight{
    height: 101%;
    
}
.pro-div{
    display: inline;
    float:left;
    width:50%;
    background-color: rgb(2, 2, 2);
    
    
}

.pro-div table{
    width:100%;
    
}
 .pro-div th{
    width: 100%;
    text-align: center;
    font-size:45px;
    color:rgb(21, 255, 71);
    padding-bottom: 20px;
    
}
.pro-div td{
text-align: left;
    font-size: 20px;
    width: 45%;
    float:left;
}
 .pro-div b{
    font-weight: 700;
    font-size: 30;
    color:rgb(21, 255, 71);
    
}
 .contra-div{
    display: inline;
    float:left;
    width:50%;
    background-color: rgb(2, 2, 2);


}

.contra-div table{
    width:100%;
    
}
.contra-div th{
    text-align: center;
    font-size:45px;
    color:rgb(255, 43, 75);
    
}
.contra-div td{
    text-align: left;
    font-size: 20px;
    width: 45%;
    float:left;
}
 .contra-div b{
    font-weight: 700;
    color:rgb(255, 43, 75);
    
}


.article .redbox{
/*  Now the orangest red box on the planet!!!   */
    background-color: rgb(14, 4, 0);
    color:rgb(255, 255, 255);
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border:5px dashed orangered;
    width: fit-content;
}
.article .redbox h3{
    font-size: 20px;
    font-weight: bolder;
    padding:0;
}
.article .quote{
    background-color: #1e1e1e;
    width: fit-content;
    padding-left: 2px;
    padding-right: 2px;
    
}
.article .spacing{
    height:15px;
    
}

.article {
    text-align: center;
    display: inline-block;
    margin:0 auto;
    width: 95%;
    padding-left: 2%;
    border-color: rgb(26, 26, 26);
    border-left: 0;
    border-right: 0;
    border-style: solid;
}
.nostar {
    width: 152px;
    height: 34px;
    background-image: url("../images/0_squares.png");
    background-size: 100%;
    background-color: rgb(0, 45, 34);
    float: right;
}
.onestar {
    width: 152px;
    height: 34px;
    background-image: url("../images/1_square.png");
    background-size: 100%;
    background-color: rgb(0, 45, 34);
    float: right;
}
.twostar {
    width: 152px;
    height: 34px;
    background-image: url("../images/2_squares.png");
    background-size: 100%;
    background-color: rgb(0, 45, 34);
    float: right;
}
.threestar {
    width: 152px;
    height: 34px;
    background-image: url("../images/3_squares.png");
    background-size: 100%;
    background-color: rgb(0, 45, 34);
    float: right;
}
.fourstar {
    width: 152px;
    height: 34px;
    background-image: url("../images/4_squares.png");
    background-size: 100%;
    background-color: rgb(0, 45, 34);
    float: right;
}
.fivestar {
    width: 152px;
    height: 34px;
    background-image: url("../images/5_squares.png");
    background-size: 100%;
    background-color: rgb(0, 45, 34);
    float: right;
}


.rating-div{
    margin-top: 30px;
    width: 500px;
    background-color: rgb(0, 83, 62);
    color: white;
    text-align: left;
    padding-bottom: 5px;
    margin-top:60px;
    margin-bottom:25px;
}
.rating-div h2{
    color:rgb(226, 226, 226);
    padding: 0;
    padding-top:15px;
    margin-top:15px;
}
.rating-div td{
    margin: 0;
    padding-right: 16px;
    font-size: 20px;
    font-weight:700;
    padding-left: 12px;
}
.rating-div th{
    margin: 0;
    padding-left: 15px;
}
.rating-div a{
    text-align: right;
    display: inline;
    color: rgb(49, 168, 247);
}
.rating-div a:hover{
    color: rgb(189, 189, 189);
    text-decoration: underline double;
}

.heading{
    color: aquamarine;
    text-shadow: 3px 3px 3px rgb(3, 128, 128);
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    padding-top: 7px;
    padding-bottom: 10px;
}
.blackbox{
    background-color: #0313208f;
    
    
    box-shadow: 4px 3px 1px 0px #00060a;
    overflow: auto;

    
}
.blackbox:hover{
    background-color: #0313207c;
    
    
    box-shadow: 6px 5px 1px 0px #00060a;
    overflow: auto;
    animation-name: lightningUp-blackbox;
    animation-duration: 500ms;
}
.blackbox .pro-div{
    color:white;
    display: inline;
    float:left;
    width:50%;
    background-color: rgba(0, 0, 0, 0);
    
}
.blackbox .contra-div{
    color:white;
    display: inline;
    float:right;
    width:50%;
    background-color: rgba(0, 0, 0, 0);
    
}
.blackbox h1{
    font-size: 45px;
}
.blackboxtxt{
    color:#d4d4d4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: 400;
    border-width: 10px;
    border-style: solid;
    border-color: #aec6d900;
    display: block;

}
.container{
    background-color: rgb(2, 2, 2);
    /*background-color: black;*/
    color: white;
    width: 95%;
    /*width: 1860px;*/
    height: 100%;
    text-align: center;
    margin: 0 auto;
    
}
.container .introduction{
    width:80%;
    display: inline-block;
    
}
.container .linkbox {
    width:15%;
    font-size: 25px;
    display: inline-block;
    background-color:white;
    margin-bottom: 50px;
}
.linkbox h2{
    background-color: rgb(48, 48, 48);
    color: rgb(235, 235, 235);
    margin-bottom: 6px;
    box-shadow: 0px 3px 0px rgb(64, 58, 181);
    
}
.linkbox .topline{
    margin-top: 6px;
    margin-bottom: 6px;
    border-style: solid;
    border: 0;
    border-top:3px solid rgb(60, 60, 60);
}
.linkbox a{
    color:black;
    text-align: left;
    display: block;
    text-decoration: none;
    font-weight: 800;
}
.linkbox a:hover{
    color:rgb(170, 170, 170);
    text-align: left;
    display: block;
    text-decoration: none;
    font-weight: 800;
}

.container p{
    color: white;
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}


.linkA{
    background-color: #00060a;
    color:white;

    
}

/*  Animations  */
@keyframes blackWhiteTransition{
    from {background-color: black; color:white;}
    to   {background-color: white; color:black;}
}
@keyframes lightningUp-blackbox{
    from {background-color: #0313208f; box-shadow: 4px 3px 1px 0px #00060a;}
    to   {background-color: #0313207c; box-shadow: 6px 5px 1px 0px #00060a;}
}
