
.topdiv{
    text-align: center;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgb(23, 23, 26);
    border: 0px;
    border-bottom: 3px;
    border-color: white;
    border-style: solid;
    
}

.topdiv .imp{
    float: left;
    padding: 4px 22px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color:rgb(11, 21, 20);
    text-decoration: none;
    background-color: rgb(58, 194, 156);
    border: 0px;
    border-bottom: 3px;
    border-right: 4px;
    border-color: white;
    border-style: solid;

}
.topdiv a {
    float: left;
    padding: 4px 22px;
    font-size: 30px;
    text-align: center;
    color:rgb(233, 255, 254);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}
.topdiv .dropdownlogo {
    float: right;
    padding: 16px 16px;
    margin: 4px;
    background-image: url("../images/ChaosSphere.png");
    
}