
.topdiv{
    text-align: center;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgb(23, 23, 26);
    border: 0px;
    border-bottom: 3px;
    border-color: white;
    border-style: solid;
    
}

.topdiv .imp{
    float: left;
    padding: 4px 22px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color:rgb(11, 21, 20);
    text-decoration: none;
    background-color: rgb(58, 194, 156);
    border: 0px;
    border-bottom: 3px;
    border-right: 4px;
    border-color: white;
    border-style: solid;

}
.topdiv .imp:hover{
    float: left;
    padding: 4px 22px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color:rgb(11, 21, 20);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-bottom: 3px;
    border-right: 4px;
    border-color: white;
    border-style: solid;
}
.topdiv a {
    float: left;
    padding: 4px 22px;
    font-size: 30px;
    text-align: center;
    color:rgb(233, 255, 254);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);

}
.topdiv a:hover {
    float: left;
    /*padding: 4px 22px;*/
    font-size: 30px;
    text-align: center;
    color:rgb(1, 1, 1);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border:0px;
    border-bottom: 3px;
    border-style: solid;
    border-color: white;
    
}
.dropdownlogo{
    float:right;
     

}
.topdiv .dropdownlogobtn {
    float: right;
    background-color: white;
    padding: 16px 16px;
    margin: 4px;
    background-image: url("../images/ChaosSphere.png");
    cursor: pointer;
    
}

.topdiv .dropdownlogobtn:hover {
    float: right;
    background-color: rgb(193, 193, 193);
    padding: 16px 16px;
    margin: 4px;
    background-image: url("../images/ChaosSphereInverted.png");
    cursor: pointer;
    display: block;
    
}
.topdiv .dropdownlogocnt{
    margin-top: 70px;
    overflow: hidden;
    float:right;
    
    background-color: #000000;
    color: #00000000;
    position: absolute;

    
    padding-left:70%;
    
    
    
    
}
.topdiv .dropdownlogocnt:hover{
    
    
    padding-right: 0;
    position:relative;
    background-color: #000000cd;
    color: white;
    width: auto;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    
}


